<?xml version="1.0" encoding="UTF-8" ?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
  <request-character-encoding>UTF-8</request-character-encoding>
  <response-character-encoding>UTF-8</response-character-encoding>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>FindNearestHotspots</servlet-name>
    <servlet-class>dev.hanjoon.seoulwifi.FindNearestHotspots</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetHistory</servlet-name>
    <servlet-class>dev.hanjoon.seoulwifi.GetHistory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>dev.hanjoon.seoulwifi.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindNearestHotspots</servlet-name>
    <url-pattern>/find</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetHistory</servlet-name>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
</web-app>
